h2_rest_spring/src/main/webapp/idm_wadl/idm_wad.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:tcll="http://www.autentia.com/2013/BasicCollections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <doc title="REST Service WADL"/>
    <grammars>
        <include href="schema/metadata"/>
        <include href="schema/role"/>
        <include href="schema/organizationList"/>
        <include href="schema/baseGroupRepresentationCollection"/>
        <include href="schema/responseEntity"/>
        <include href="schema/baseAuthenticationConfiguration"/>
        <include href="schema/authenticationSuccessResponse"/>
        <include href="schema/authenticationResponse"/>
        <include href="schema/abstractUser"/>
        <include href="schema/request_token"/>
        <include href="schema/keystoneConfiguration"/>
        <include href="schema/baseGroupRepresentation"/>
        <include href="schema/samlConfig"/>
        <include href="schema/metadataList"/>
        <include href="schema/loginResponse"/>
        <include href="schema/requestTokenDetails"/>
        <include href="schema/org"/>
        <include href="schema/organizationInfoView"/>
        <include href="schema/versionInfo"/>
        <include href="schema/roleList"/>
        <include href="schema/version"/>
        <include href="schema/token"/>
        <include href="schema/keystoneConfigurationList"/>
        <include href="schema/baseUserRepresentation"/>
        <include href="schema/abstractGroup"/>
        <include href="schema/organization"/>
        <include href="schema/pagedResponse"/>
    </grammars>
    <resources base="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm">        
        <resource path="/v2.0/">
            <method id="getVersion" name="GET">
                <response status="200">
                    <representation element="vrs:version" mediaType="application/json" xmlns:vrs="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/version.xsd"/>
                    <representation element="vrs:version" mediaType="application/xml" xmlns:vrs="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/version.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/v2.0/tokens">
            <method id="authenticate" name="POST">
                <response status="200">
                    <representation element="thn:authenticationSuccessResponse" mediaType="application/json"  xmlns:thn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/authenticationSuccessResponse"/>
                    <representation element="thn:authenticationSuccessResponse" mediaType="application/xml" xmlns:thn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/authenticationSuccessResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/v2.0/secondary/{tokenId}">
            <param name="tokenId" required="true" style="template" type="xs:string"/>
            <method id="secondaryAuthentication" name="POST">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/v2.0/trusts">
            <method id="getAllValidTrusts" name="GET">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/v2.0/secondary/impersonate">
            <method id="consumeTrust" name="POST">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/v2.0/tokens/{tokenId}">
            <param name="tokenId" required="true" style="template" type="xs:string"/>
            <method id="validateToken" name="GET">
                <response status="200"/>
            </method>
            <method id="validateToken" name="HEAD">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/v2.0/trusts/{trustId}">
            <param name="trustId" required="true" style="template" type="xs:string"/>
            <method id="getValidTrust" name="GET">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/v2.0/trusts">
            <method id="createTrust" name="POST">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/v2.0/trusts/{trustId}">
            <param name="trustId" required="true" style="template" type="xs:string"/>
            <method id="revokeTrust" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}/representations">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="createGroupRepresentation" name="POST">
                <response status="200">
                    <representation element="bsg:baseGroupRepresentation" mediaType="application/json" xmlns:bsg="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}/representations/{GROUP_REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getGroupRepresentation" name="GET">
                <response status="200">
                    <representation element="bsg:baseGroupRepresentation" mediaType="application/json" xmlns:bsg="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}/representations">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getGroupRepresentations" name="GET">
                <response status="200">
                    <representation element="bsgcll:baseGroupRepresentationCollection" mediaType="application/json" xmlns:bsgcll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentationCollection.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}/representations/{GROUP_REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteGroupRepresentation" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}/representations/{GROUP_REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="patchGroupRepresentation" name="PATCH">
                <response status="200">
                    <representation element="bsg:baseGroupRepresentation" mediaType="application/json" xmlns:bsg="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}/representations/{GROUP_REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="putGroupRepresentation" name="PUT">
                <response status="200">
                    <representation element="bsg:baseGroupRepresentation" mediaType="application/json" xmlns:bsg="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/organizations/{ORG_PARAM}/configurations">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getAuthenticationConfigurations" name="GET">
                <response status="200">
                    <representation element="pgd:pagedResponse" mediaType="application/json" xmlns:pgd="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/pagedResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/organizations/{ORG_PARAM}/configurations/{CONFIG_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="CONFIG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getAuthenticationConfiguration" name="GET">
                <response status="200">
                    <representation element="bst:baseAuthenticationConfiguration" mediaType="application/json" xmlns:bst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseAuthenticationConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/organizations/{ORG_PARAM}/configurations">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="createAuthenticationConfiguration" name="POST">
                <response status="200">
                    <representation element="bst:baseAuthenticationConfiguration" mediaType="application/json" xmlns:bst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseAuthenticationConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/organizations/{ORG_PARAM}/configurations/{CONFIG_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="CONFIG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="replaceAuthenticationConfiguration" name="PUT">
                <response status="200">
                    <representation element="bst:baseAuthenticationConfiguration" mediaType="application/json" xmlns:bst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseAuthenticationConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/organizations/{ORG_PARAM}/configurations/{CONFIG_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="CONFIG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="updateAuthenticationConfiguration" name="PATCH">
                <response status="200">
                    <representation element="bst:baseAuthenticationConfiguration" mediaType="application/json" xmlns:bst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseAuthenticationConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/organizations/{ORG_PARAM}/configurations/{CONFIG_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="CONFIG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteAuthenticationConfiguration" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/keystoneConfigurations">
            <method id="createNewKeystoneConfiguration" name="POST">
                <response status="200">
                    <representation element="kys:keystoneConfiguration" mediaType="application/json" xmlns:kys="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/keystoneConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/keystoneConfigurations/{id}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="updateKeystoneConfiguration" name="PUT">
                <response status="200">
                    <representation element="kys:keystoneConfiguration" mediaType="application/json" xmlns:kys="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/keystoneConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/keystoneConfigurations/{id}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="deleteKeystoneConfiguration" name="DELETE">
                <response status="200">
                    <representation element="rsp:responseEntity" mediaType="application/json" xmlns:rsp="http://www.springframework.org/schema/responseEntity.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/keystoneConfigurations/{configId}">
            <param name="configId" required="true" style="template" type="xs:string"/>
            <method id="getKeystoneConfigurationById" name="GET">
                <response status="200">
                    <representation element="kys:keystoneConfiguration" mediaType="application/json" xmlns:kys="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/keystoneConfiguration.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/keystoneConfigurations">
            <method id="getAllKeystoneConfigurations" name="GET">
                <response status="200">
                    <representation element="kyst:keystoneConfigurationList" mediaType="application/json" xmlns:kyst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/keystoneConfigurationList.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/roles/{name}">
            <param name="name" required="true" style="template" type="xs:string"/>
            <method id="getSingleRoleByName" name="GET">
                <response status="200">
                    <representation element="Rol:role" mediaType="application/json" xmlns:Rol="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/role.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/roles">
            <method id="headAllRoles" name="HEAD">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/roles">
            <method id="getAllRoles" name="GET">
                <response status="200">
                    <representation element="bsgcll:baseGroupRepresentationCollection" mediaType="application/json" xmlns:bsgcll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentationCollection.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/roles/{name}">
            <param name="name" required="true" style="template" type="xs:string"/>
            <method id="headRoleByName" name="HEAD">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/roles">
            <method id="createNewRole" name="POST">
                <response status="200">
                    <representation element="Rol:role" mediaType="application/json" xmlns:Rol="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/role.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/roles/{name}">
            <param name="name" required="true" style="template" type="xs:string"/>
            <method id="updateRole" name="PUT">
                <response status="200">
                    <representation element="Rol:role" mediaType="application/json" xmlns:Rol="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/role.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/roles/{name}">
            <param name="name" required="true" style="template" type="xs:string"/>
            <method id="deleteRole" name="DELETE">
                <response status="200">
                    <representation element="rsp:responseEntity" mediaType="application/json" xmlns:rsp="http://www.springframework.org/schema/responseEntity.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/representations">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="createRepresentation" name="POST">
                <response status="200">
                    <representation element="bss:baseUserRepresentation" mediaType="application/json" xmlns:bss="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseUserRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/representations/{REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <param name="REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getRepresentation" name="GET">
                <response status="200">
                    <representation element="bss:baseUserRepresentation" mediaType="application/json" xmlns:bss="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseUserRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/representations">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getRepresentations" name="GET">
                <response status="200">
                    <representation element="bsgcll:baseGroupRepresentationCollection" mediaType="application/json" xmlns:bsgcll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentationCollection.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/representations/{REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <param name="REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteRepresentation" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/representations/{REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <param name="REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="patchRepresentation" name="PATCH">
                <response status="200">
                    <representation element="bss:baseUserRepresentation" mediaType="application/json" xmlns:bss="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseUserRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/representations/{REPRESENTATION_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <param name="REPRESENTATION_PARAM" required="true" style="template" type="xs:string"/>
            <method id="putRepresentation" name="PUT">
                <response status="200">
                    <representation element="bss:baseUserRepresentation" mediaType="application/json" xmlns:bss="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseUserRepresentation.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/version-info">
            <method id="getBuildVersionInfo" name="GET">
                <response status="200">
                    <representation element="vrsn:versionInfo" mediaType="application/json" xmlns:vrsn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/versionInfo.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_ID}/roles">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_ID" required="true" style="template" type="xs:string"/>
            <method id="getRoles" name="GET">
                <response status="200">
                    <representation element="bsgcll:baseGroupRepresentationCollection" mediaType="application/json" xmlns:bsgcll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentationCollection.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_ID}/groups/{GROUP_ID}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_ID" required="true" style="template" type="xs:string"/>
            <param name="GROUP_ID" required="true" style="template" type="xs:string"/>
            <method id="isMember" name="GET">
                <response status="200">
                    <representation element="bstr:abstractGroup" mediaType="application/json" xmlns:bstr="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractGroup.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_ID}/groups">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_ID" required="true" style="template" type="xs:string"/>
            <method id="getGroups" name="GET">
                <response status="200">
                    <representation element="bsgcll:baseGroupRepresentationCollection" mediaType="application/json" xmlns:bsgcll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentationCollection.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/groups/{GROUP_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteUserFromGroup" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getUser" name="GET">
                <request>
                    <param default="" name="scope" required="false" style="query" type="xs:string"/>
                </request>
                <response status="200">
                    <representation element="bstrc:abstractUser" mediaType="application/json" xmlns:bstrc="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractUser.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="createNewUser" name="POST">
                <response status="200">
                    <representation element="bstrc:abstractUser" mediaType="application/json" xmlns:bstrc="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractUser.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getUsers" name="GET">
                <request>
                    <param default="0" name="start" required="false" style="query" type="xs:integer"/>
                    <param default="20" name="page-size" required="false" style="query" type="xs:integer"/>
                    <param default="displayName" name="order-by" required="false" style="query" type="xs:string"/>
                    <param default="ascending" name="sort" required="false" style="query" type="xs:string"/>
                    <param default="" name="searchText" required="false" style="query" type="xs:string"/>
                    <param default="" name="scope" required="false" style="query" type="xs:string"/>
                </request>
                <response status="200">
                    <representation element="pgd:pagedResponse" mediaType="application/json" xmlns:pgd="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/pagedResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteUser" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="patchUser" name="PATCH">
                <response status="200">
                    <representation element="bstrc:abstractUser" mediaType="application/json" xmlns:bstrc="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractUser.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="putUser" name="PUT">
                <response status="200">
                    <representation element="bstrc:abstractUser" mediaType="application/json" xmlns:bstrc="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractUser.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_PARAM}/groups">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_PARAM" required="true" style="template" type="xs:string"/>
            <method id="addGroupToUser" name="POST">
                <response status="200">
                    <representation element="bstrc:abstractUser" mediaType="application/json" xmlns:bstrc="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractUser.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/users/{USER_ID}/roles/{ROLE_ID}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="USER_ID" required="true" style="template" type="xs:string"/>
            <param name="ROLE_ID" required="true" style="template" type="xs:string"/>
            <method id="hasRole" name="GET">
                <response status="200">
                    <representation element="Rol:role" mediaType="application/json" xmlns:Rol="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/role.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_ID}/members/{USER_ID}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_ID" required="true" style="template" type="xs:string"/>
            <param name="USER_ID" required="true" style="template" type="xs:string"/>
            <method id="isMember" name="GET">
                <response status="200">
                    <representation element="bstrc:abstractUser" mediaType="application/json" xmlns:bstrc="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractUser.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="createAbstractGroup" name="POST">
                <response status="200">
                    <representation element="bstr:abstractGroup" mediaType="application/json" xmlns:bstr="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractGroup.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getAbstractGroups" name="GET">
                <request>
                    <param default="0" name="start" required="false" style="query" type="xs:integer"/>
                    <param default="20" name="page-size" required="false" style="query" type="xs:integer"/>
                    <param default="displayName" name="order-by" required="false" style="query" type="xs:string"/>
                    <param default="ascending" name="sort" required="false" style="query" type="xs:string"/>
                    <param default="" name="searchText" required="false" style="query" type="xs:string"/>
                </request>
                <response status="200">
                    <representation element="pgd:pagedResponse" mediaType="application/json" xmlns:pgd="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/pagedResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteAbstractGroup" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="patchAbstractGroup" name="PATCH">
                <response status="200">
                    <representation element="bstr:abstractGroup" mediaType="application/json" xmlns:bstr="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractGroup.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_ID}/members/{USER_ID}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_ID" required="true" style="template" type="xs:string"/>
            <param name="USER_ID" required="true" style="template" type="xs:string"/>
            <method id="deleteMemberFromGroup" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="putAbstractGroup" name="PUT">
                <response status="200">
                    <representation element="bstr:abstractGroup" mediaType="application/json" xmlns:bstr="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractGroup.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getAbstractGroup" name="GET">
                <response status="200">
                    <representation element="bstr:abstractGroup" mediaType="application/json" xmlns:bstr="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractGroup.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_ID}/members">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_ID" required="true" style="template" type="xs:string"/>
            <method id="addMemberToGroup" name="POST">
                <response status="200">
                    <representation element="bstr:abstractGroup" mediaType="application/json" xmlns:bstr="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/abstractGroup.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/groups/{GROUP_ID}/members">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="GROUP_ID" required="true" style="template" type="xs:string"/>
            <method id="getRoster" name="GET">
                <response status="200">
                    <representation element="bsgcll:baseGroupRepresentationCollection" mediaType="application/json" xmlns:bsgcll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/baseGroupRepresentationCollection.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/samlconfig/">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="createNewSamlConfig" name="POST">
                <response status="200">
                    <representation element="sml:samlConfig" mediaType="application/xml" xmlns:sml="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/samlConfig"/>
                    <representation element="sml:samlConfig" mediaType="application/json" xmlns:sml="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/samlConfig.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/samlconfig/">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getAllSamlConfigs" name="GET">
                <request>
                    <param default="0" name="start" required="false" style="query" type="xs:integer"/>
                    <param default="20" name="page-size" required="false" style="query" type="xs:integer"/>
                    <param default="displayName" name="order-by" required="false" style="query" type="xs:string"/>
                    <param default="ascending" name="sort" required="false" style="query" type="xs:string"/>
                </request>
                <response status="200">
                    <representation element="pgd:pagedResponse" mediaType="application/json" xmlns:pgd="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/pagedResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/samlconfig//{SAML_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="SAML_PARAM" required="true" style="template" type="xs:string"/>
            <method id="getSamlConfigById" name="GET">
                <response status="200">
                    <representation element="sml:samlConfig" mediaType="application/json" xmlns:sml="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/samlConfig"/>
                    <representation element="sml:samlConfig" mediaType="application/xml" xmlns:sml="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/samlConfig.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/samlconfig//{SAML_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="SAML_PARAM" required="true" style="template" type="xs:string"/>
            <method id="deleteSamlConfig" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/samlconfig//{SAML_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="SAML_PARAM" required="true" style="template" type="xs:string"/>
            <method id="updateSamlConfig" name="PUT">
                <response status="200">
                    <representation element="sml:samlConfig" mediaType="application/json" xmlns:sml="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/samlConfig.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{ORG_PARAM}/samlconfig//{SAML_PARAM}">
            <param name="ORG_PARAM" required="true" style="template" type="xs:string"/>
            <param name="SAML_PARAM" required="true" style="template" type="xs:string"/>
            <method id="patchSamlConfig" name="PATCH">
                <response status="200">
                    <representation element="sml:samlConfig" mediaType="application/json" xmlns:sml="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/samlConfig.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/org-info/organizations/{orgName}">
            <param name="orgName" required="true" style="template" type="xs:string"/>
            <method id="getOrganizationByName" name="GET">
                <response status="200">
                    <representation element="rgn:organizationInfoView" mediaType="application/json" xmlns:rgn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/organizationInfoView.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations">
            <method id="getAllOrganizations" name="GET">
                <response status="200">
                    <representation element="rgnz:organizationList" mediaType="application/json" xmlns:rgnz="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/organizationList.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations">
            <method id="headAllOrganizations" name="HEAD">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="getOrganizationById" name="GET">
                <response status="200">
                    <representation element="rgnzt:organization" mediaType="application/json" xmlns:rgnzt="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/organization.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="headOrganizationById" name="HEAD">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations">
            <method id="createNewOrganization" name="POST">
                <response status="200">
                    <representation element="rgnzt:organization" mediaType="application/json" xmlns:rgnzt="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/organization.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="updateOrganization" name="PUT">
                <response status="200">
                    <representation element="rgnzt:organization" mediaType="application/json" xmlns:rgnzt="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/organization.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="deleteOrganization" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{orgId}/roles">
            <param name="orgId" required="true" style="template" type="xs:string"/>
            <method id="getRolesForOrganization" name="GET">
                <response status="200">
                    <representation element="rll:roleList" mediaType="application/json" xmlns:rll="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/roleList.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}/metadata">
            <param name="id" required="true" style="template" type="xs:string"/>
            <method id="getOrganizationMetadataSetByOrgId" name="GET">
                <response status="200">
                    <representation element="mtd:metadataList" mediaType="application/json" xmlns:mtd="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/metadataList.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}/metadata/{key}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <param name="key" required="true" style="template" type="xs:string"/>
            <method id="getMetadataByKeyFromOrganizationById" name="GET">
                <response status="200">
                    <representation element="mtd2:metadata" mediaType="application/json" xmlns:mtd2="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/metadata.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}/metadata/{key}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <param name="key" required="true" style="template" type="xs:string"/>
            <method id="addOrUpdateMetadataFromOrganizationById" name="PUT">
                <response status="200">
                    <representation element="mtd2:metadata" mediaType="application/json" xmlns:mtd2="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/metadata.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/api/scim/organizations/{id}/metadata/{key}">
            <param name="id" required="true" style="template" type="xs:string"/>
            <param name="key" required="true" style="template" type="xs:string"/>
            <method id="deleteMetadataFromOrganizationById" name="DELETE">
                <response status="200"/>
            </method>
        </resource>
        <resource path="//logout/**">
            <method id="index" name="GET">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/idm/v0//public/checkSession">
            <method id="checkSession" name="GET">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/idm/v0/api/public/image/{imageName:.+}">
            <param name="imageName" required="true" style="template" type="xs:string"/>
            <method id="getImage" name="GET">
                <response status="200"/>
            </method>
        </resource>
        <resource path="/idm/v0/api/token/request_token">
            <method id="createRequestToken" name="POST">
                <response status="200">
                    <representation element="rqs:request_token" mediaType="application/json" xmlns:rqs="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/request_token"/>
                    <representation element="rqs:request_token" mediaType="application/xml" xmlns:rqs="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/request_token.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/idm/v0/api/token/request_token/validate">
            <method id="validateRequestToken" name="POST">
                <response status="200">
                    <representation element="tkn:token" mediaType="application/json" xmlns:tkn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/token"/>
                    <representation element="tkn:token" mediaType="application/xml" xmlns:tkn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/token.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/idm/v0/api/public/token">
            <method id="getTokenData" name="GET">
                <response status="200">
                    <representation element="rqst:requestTokenDetails" mediaType="application/json" xmlns:rqst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/requestTokenDetails"/>
                    <representation element="rqst:requestTokenDetails" mediaType="application/xml" xmlns:rqst="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/requestTokenDetails.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/idm/v0/api/token/access_token">
            <method id="getAccessToken" name="POST">
                <response status="200">
                    <representation element="thnt:authenticationResponse" mediaType="application/json" xmlns:thnt="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/authenticationResponse"/>
                    <representation element="thnt:authenticationResponse" mediaType="application/xml" xmlns:thnt="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/authenticationResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/idm/v0/api/public/authenticate">
            <method id="authenticate" name="POST">
                <response status="200">
                    <representation element="lgn:loginResponse" mediaType="application/json" xmlns:lgn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/loginResponse"/>
                    <representation element="lgn:loginResponse" mediaType="application/xml" xmlns:lgn="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/loginResponse.xsd"/>
                </response>
            </method>
        </resource>
        <resource path="/idm/v0/api/public/tenant/{orgName}">
            <param name="orgName" required="true" style="template" type="xs:string"/>
            <method id="getOrganization" name="GET">
                <response status="200">
                    <representation element="rgn2:org" mediaType="application/json" xmlns:rgn2="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/org"/>
                    <representation element="rgn2:org" mediaType="application/xml" xmlns:rgn2="http://SGDLITVM0996.hpswlabs.adapps.hp.com:18080/idm_180_rest_api_wadl/schema/org.xsd"/>
                </response>
            </method>
        </resource>
    </resources>
</application>