h2_rest_jsr/src/main/idm_180_rest_api_wadl/schema/request_token.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="request_token" type="requestTokenResponse"/>

  <xs:complexType name="requestTokenResponse">
    <xs:sequence/>
    <xs:attribute name="issued_at" type="xs:string"/>
    <xs:attribute name="expires" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>
</xs:schema>

