h2_rest_jsr/src/main/idm_180_rest_api_wadl/schema/versionInfo.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="versionInfo" type="versionInfo"/>

  <xs:complexType name="versionInfo">
    <xs:sequence/>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="full" type="xs:string"/>
    <xs:attribute name="snapshot" type="xs:boolean" use="required"/>
  </xs:complexType>
</xs:schema>

